<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <ExcludeByFile>
            **/obj/**,
            **/*.g.cs,
            **/*.g.i.cs,
            **/*.axaml,
            **/Program.cs,
            **/App.axaml.cs,
            **/MainWindow.axaml.cs,
            **/KindGlyph.cs,
            **/RadarWaterLayer.cs,
            **/YamlSyntaxColorizer.cs,
            **/MainWindowViewModel.cs
          </ExcludeByFile>
          <SkipAutoProps>true</SkipAutoProps>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
